* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f9f9f9;
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: 16px;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
}

.outer {
    width: 245px;
    height: 245px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner:hover {
    background-color: cyan;
    cursor: pointer;
}

.text {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 25px;
}

button {
    width: 70px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: hotpink;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: cyan;
    cursor: pointer;
}
